<ion-header>
  <ion-toolbar mode="md">
    <ion-title>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/800px-Instagram_logo.svg.png" alt="">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="{freeMode:true, slidesPerView: 'auto'}">
    <ion-slide *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
      <ion-col class="ion-align-items-center">
        <ion-avatar>
          <img [src]="'https://randomuser.me/api/portraits/women/'+ (i+4)+'.jpg'" />
        </ion-avatar>
        <p>usuario</p>
      </ion-col>
    </ion-slide>
  </ion-slides>

  <ion-card class="cardPost ion-no-margin" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
    
    <ion-card-header class="ion-no-padding">
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar class="avatarPost">
            <img [src]="'https://randomuser.me/api/portraits/women/'+ (i+8)+'.jpg'" />
          </ion-avatar>
        </ion-col>
        <ion-col size="auto">
          <p class="ion-no-margin">usuario_{{i}}</p>
        </ion-col>
        <ion-col size="auto" class="mlAuto">
          <ion-button size="small" fill="clear" color="dark">
            <ion-icon slot="icon-only"name="ellipsis-horizontal-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <img [src]="'https://picsum.photos/id/'+(i*13) +'/500/500'" />
    
    <ion-row class="ion-align-items-center">
      <ion-col class="botoesPost" size="auto">
        <ion-button class="botoesPost" size="small" fill="clear" color="dark">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="botoesPost" size="auto">
        <ion-button class="botoesPost" size="small" fill="clear" color="dark">
          <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="botoesPost" size="auto">
        <ion-button class="botoesPost" size="small" fill="clear" color="dark">
          <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="botoesPost" size="auto" class="mlAuto">
        <ion-button class="botoesPost" size="small" fill="clear" color="dark">
          <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-card-content class="ion-no-padding">
      <ion-row class="ion-align-items-center">
        <ion-avatar class="avatarComentario">
          <img [src]="'https://randomuser.me/api/portraits/women/'+ (5*i+8)+'.jpg'" />
        </ion-avatar>
        <ion-avatar class="avatarComentario">
          <img [src]="'https://randomuser.me/api/portraits/women/'+ (5*i+9)+'.jpg'" />
        </ion-avatar>
        <p>
          Curtido por <strong>usuario_{{i}}</strong> e <strong>outras pessoas</strong>
        </p>
      </ion-row>

      <p class="textosPost verComentarios" >
        Ver todos os {{i}} comentários
      </p>

      <p class="textosPost comentario">
        <strong>usuario_{{i}}</strong>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      </p>
    </ion-card-content>

  </ion-card>

</ion-content>
