ion-title{
    img{
        height: 45px;
        margin-bottom: auto;
        margin-top: 5px;
    }
}

ion-slide{
   width: 70px; 
   margin: 0.25em 0.5em;
   p{
       font-size: 8pt;
       white-space: nowrap;
       text-overflow: ellipsis;
       overflow: hidden;
   }
   ion-avatar{
       height: 70px;
       width: 70px;
       margin: auto;
       border: 3px orange solid;
   }
}

.mlAuto{
    margin-left: auto;
}
