<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>BitCoin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Valor em BitCoin</ion-label>
    <ion-input [(ngModel)]="valor" type="number"></ion-input>
  </ion-item>
  <ion-item *ngFor="let rate of rates">
    <ion-label>
      <h2>{{rate.rate_float * valor | currency: rate.code}}</h2>
      <p>{{rate.description}}</p>
    </ion-label>
  </ion-item>
</ion-content>
