<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons class="botaoVoltar">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <div class="imgLogo">
        <img src="/assets/img/Logo.png" alt="">
      </div>
      <ion-searchbar placeholder="Buscar Produto"
                     [(ngModel)]="busca"
                     (ionInput)="filtrarProdutos($event)" clearInput></ion-searchbar>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full" *ngFor="let produto of produtos">
      <ion-row>
        <ion-col size="10">
          <h2 class="textoNome">{{produto.nome}}</h2>
        </ion-col>
        <ion-col size="10">
          <p class="valor">{{produto.valor | currency:'BRL'}}</p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
