.imgLogo{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.botaoVoltar{
    position:absolute;
    padding-top: 13%;
    ion-back-button{
        font-size: 20px;
    }
}

.textoNome{
    margin-top: 5px;
    margin-bottom: 0px;
}