
.imgLogo{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.botaoPesquisa{
    height: 36px;
    width: 343px;
    margin-left: 12px;
    border-radius: 10px;
    padding-bottom: 5px;
    ion-icon{
        font-size: 25px;
    }
    h1{
        font-size: 20px;
        margin-bottom: auto;
        margin-top: auto;
    }
}

.botaoMenuTopo{
    position:absolute;
    width: 25%;
    height: 50%;
    padding-top: 10%;
    margin-left: 3%;
}
.botaoCarrinho{
    position: absolute;
    width: 25%;
    height: 50%;
    padding-top: 10%;
    margin-left: 72%;
}

ion-menu-button{
    font-size: 55px;
}

ion-icon {
    font-size: 55px;
}

.customizarMenu{
    ion-list{
        background-color: #7c2ea7;
        ion-button{
            height: 56px;
            width: 304px;
            ion-item{
                margin-right:auto;
            }
        }
    }
}

.cardEndereco{
    padding-top: 3%;
}

.botaoPromocao{
    width: 343px;
    height: 200px;
}

.imgBotaoPromocao{
    height: 250px;
    width: auto;
}

.botaoMenu{
    height: 93px;
    width: 93px;
}

.imgBotaoMenu{
    height: 50px;
    width: auto;
}

ion-toolbar{
    padding-top: 50%;
}