.img{
    width:20%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
    padding-top: 3%;
}

.botao{
    position:absolute;
    width: 25%;
    height: 50%;
    padding-top: 10%;
    margin-left: auto;
}
.botao2{
    position: absolute;
    width: 25%;
    height: 50%;
    padding-top: 10%;
    margin-left: 72%;
}

.card{
    padding-top: 3%;
}

.cardPromocao{
    padding-top: 3%;
    height: 200px;
}

.card2{
    height: 93px;
}


ion-toolbar{
    padding-top: 5%;
}