<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons class="botaoMenuTopo">
        <ion-menu-button auto-hide="true"></ion-menu-button>
      </ion-buttons>
      <ion-button class="botaoCarrinho">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
      <div class="imgLogo">
        <img src="/assets/img/Logo.png" alt="">
      </div>
        <ion-button class="botaoPesquisa ion-no-padding" color="tertiary" (click)="busca()">
          <ion-icon slot="start"name="search-outline"></ion-icon>
          <h1>Buscar Produto</h1>
        </ion-button>
        <ion-searchbar (ionFocus)="focado()" (ionBlur)="desfocado()"></ion-searchbar>
    </ion-toolbar>
</ion-header>


  <ion-menu side="start" menuId="custom" content-id="main" class="customizarMenu">
    <ion-content color="primary">
      <ion-list >

        <ion-button routerLink="/perfil">
          <ion-item color="primary">
            <ion-icon name="person-circle-outline" slot="start" ></ion-icon>
            <ion-label style="font-size: medium;">Perfil</ion-label>
          </ion-item>
        </ion-button>

        <ion-button>
          <ion-item color="primary">
            <ion-icon name="bicycle-outline" slot="start"></ion-icon>
            <ion-label style="font-size: medium;">Pedidos em Andamento</ion-label>
          </ion-item>
        </ion-button>

        <ion-button>
          <ion-item color="primary">
            <ion-icon name="clipboard-outline" slot="start"></ion-icon>
            <ion-label style="font-size: medium;">Pedidos Anteriores</ion-label>
          </ion-item>
        </ion-button>

        <ion-button>
          <ion-item color="primary">
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label style="font-size: medium;">Favoritos</ion-label>
          </ion-item>
        </ion-button>

        <ion-button>
          <ion-item color="primary">
            <ion-icon name="wallet-outline" slot="start"></ion-icon>
            <ion-label style="font-size: medium;">Cupons</ion-label>
          </ion-item>
        </ion-button>

        <ion-button>
          <ion-item color="primary">
            <ion-icon name="cash-outline" slot="start"></ion-icon>
            <ion-label style="font-size: medium;">Formas de Pagamento</ion-label>
          </ion-item>
        </ion-button>

        <ion-button>
          <ion-item color="primary">
            <ion-icon name="chatbox-ellipses-outline" slot=start></ion-icon>
            <ion-label style="font-size: medium;">Chats</ion-label>
          </ion-item>
        </ion-button>

        <ion-button (click)="sair()">
          <ion-item color="primary">
            <ion-icon name="exit-outline" slot="start"></ion-icon>
            <ion-label style="font-size: medium;">Sair</ion-label>
          </ion-item>
        </ion-button>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>

<ion-list *ngIf="focar == 1; else desfocar">

</ion-list>

<ng-template #desfocar>
  <ion-content >
  
    <ion-card color="primary" class="ion-text-center cardEndereco">
      <ion-card-subtitle>Entregar em:</ion-card-subtitle>
      <ion-card-title>{{endereco.endereco}}, {{endereco.numero}}</ion-card-title>
      <ion-button>
        <ion-text style="text-decoration-line: underline;" routerLink="/trocar-endereco">Trocar</ion-text>
      </ion-button>
    </ion-card>
  
    <ion-button color="warning" class="ion-text-center ion-margin botaoPromocao">
      <img class="imgBotaoPromocao" src="/assets/img/PromocoesTexto.png" alt="">
    </ion-button>
  
    <ion-row >
  
      <ion-col size="4" class="ion-no-padding">
        <ion-button color="success" class="ion-margin botaoMenu" routerLink="/lanches">
          <img class="imgBotaoMenu" src="/assets/img/lanches.png" alt="">
        </ion-button>
        <div class="ion-text-center">
          <ion-text color="primary">Lanches</ion-text>
        </div>
      </ion-col>
  
      <ion-col size="4" class="ion-no-padding">
        <ion-button color="success" class="ion-margin botaoMenu">
          <img class="imgBotaoMenu" src="/assets/img/comidas.png" alt="">
        </ion-button>
        <div class="ion-text-center">
          <ion-text color="primary">Comidas</ion-text>
        </div>
      </ion-col>
  
      <ion-col size="4" class="ion-no-padding">
        <ion-button color="success" class="ion-margin botaoMenu">
          <img class="imgBotaoMenu" src="/assets/img/bebidas.png" alt="">
        </ion-button>
        <div class="ion-text-center">
          <ion-text color="primary">Bebidas</ion-text>
        </div>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="4" class="ion-no-padding">
        <ion-button color="success" class="ion-margin botaoMenu">
          <img class="imgBotaoMenu" src="/assets/img/sobremesas.png" alt="">
        </ion-button>
        <div class="ion-text-center">
          <ion-text color="primary">Sobremesas</ion-text>
        </div>
      </ion-col>
  
      <ion-col size="4" class="ion-no-padding">
        <ion-button color="success" class="ion-margin botaoMenu">
          <img class="imgBotaoMenu" src="/assets/img/novidades.png" alt="">
        </ion-button>
        <div class="ion-text-center">
          <ion-text color="primary">Novidades</ion-text>
        </div>
      </ion-col>
  
      <ion-col size="4" class="ion-no-padding">
        <ion-button color="success" class="ion-margin botaoMenu">
          <img class="imgBotaoMenu" src="/assets/img/promocoes.png" alt="">
        </ion-button>
        <div class="ion-text-center">
          <ion-text color="primary">Promoções</ion-text>
        </div>
      </ion-col>
    </ion-row>
  
    <p><br></p>
    <p>{{pesquisa}}</p>
  
  </ion-content>
</ng-template>

