<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Musica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">Titulo</ion-label>
    <ion-input [(ngModel)]="musica.titulo" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Artista</ion-label>
    <ion-input [(ngModel)]="musica.artista" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Favorita</ion-label>
    <ion-toggle [(ngModel)]="musica.favorito" slot="end"></ion-toggle>
  </ion-item>
  <ion-button expand="block" (click)="atualizar()">
    <ion-icon slot="start" name="save"></ion-icon>
    Atualizar Música
  </ion-button>
  <ion-button expand="block" (click)="deletar()">
    <ion-icon slot="start" name="trash"></ion-icon>
    Deletar Música
  </ion-button>
</ion-content>
