<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="buscar" (ionChange)="atualizarBusca()" placeholder="Buscar Contato"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor = "let contato of contatoStream | async" (click)="abrirModal(contato)">
      <ion-avatar slot="start">
        <img [src]="'//github.com/'+contato.usuario+'.png'" />
      </ion-avatar>
      <ion-label>
        <h2>{{contato.nome}}</h2>
        <p>{{contato.usuario}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab routerLink="/create" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>