<!--Ex 1-->

<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Lista de Tarefas
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <form (submit)="adicionarTarefa()"> <!--Quando o usuario digitar enter vai chamar a funcao e adicionar uma tarefa-->
      <ion-input name="novaTarefa" [(ngModel)]="novaTarefa" type="text" placeholder="Nova Tarefa..."></ion-input> <!--Para usar o form em cima foi preciso dar um nome ao input-->
    </form>

    <ion-buttons slot="end"> <!--Botão em uma toolbar deve estrar dentro de um Ion-Buttons-->
      <ion-button (click)="adicionarTarefa()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-progress-bar [value]="progresso"></ion-progress-bar>
</ion-header>

<ion-content class="ion-padding">

  <ion-toolbar>
    <ion-segment [(ngModel)]="selecionarFiltro" (ionChange)="atualizarFiltro()" >
      <ion-segment-button value="todas">
        <ion-label>Todas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="paraFazer">
        <ion-label>Para Fazer</ion-label>
      </ion-segment-button>
      <ion-segment-button value="feitas">
        <ion-label>Feitas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-list *ngIf="tarefasFiltradas.length > 0; else vazia">
    <ion-item *ngFor = "let tarefa of tarefasFiltradas">
      <ion-label>{{tarefa.nome}}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="tarefa.feita" (ionChange)="calcularProgesso()"></ion-checkbox>
    
    <ion-button slot="end" color="danger" fill="clear" (click)="removerTarefa(tarefa)"> <!--Passa a tarefa em questão como parametro-->
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #vazia>
    <ion-text color="medium" class="ion-text-center">
      <h1>
        <ion-icon slot="start" name="sad-outline" style="font-size: 2em;"></ion-icon>
      </h1>
      <p>Você ainda nao tem nenhuma rarefa nessa categoria.</p>
    </ion-text>
  </ng-template>

  <p><br><br><br></p>

  <!--Ex2-->
  <h1 class="negrito">EX: 2 Controle de Gastos</h1>
  <h3 class="negrito">Seus gastos foram de:</h3>
  <h1 class="negrito" style="text-align: center; font-size: 3em;">{{valor | currency: 'BRL'}}</h1>
    
    
  <ion-row>
    <ion-col>
      <ion-item class="ion-no-padding">
        <ion-label position="floating">Valor</ion-label>
        <ion-input type="number" [(ngModel)]="valorInput"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="auto">
      <ion-button (click)="gasto()" fill="clear"  >
        <ion-icon slot="icon-only" name="cash-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-list *ngFor="let transacao of transacoes" class="ion-padding">
    <ion-label>
      <ion-row>
        <ion-col>
          {{transacao.valor | currency: 'BRL'}}
        </ion-col>
        <ion-col size="auto">
          {{transacao.data | date: 'short'}}
        </ion-col>
      </ion-row>
    </ion-label>
  </ion-list>


</ion-content>