h1, h2{
  font-weight:bold;
}
h2{
  font-size: 13pt;
}

.ml-auto{
  margin-left: auto;
}

.daily-scenery-cover-image{
  height: 10em;
  width: 100%;
  object-fit: cover;
}

.daily-scenery-avatar{
  width: 3em;
  height: 3em;
  margin-left: 10px;
}

.master-avatar{
  width: 2.5em;
  height: 2.5em;
}

.my-custom-menu {
  --width: 500px;
}