<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="usuarios-github"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar style="height: 60px; width: 60px;">
            <img [src]="user.avatar_url" />
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-card-title>{{user.name}}</ion-card-title>
          <ion-card-subtitle>{{user.login}}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <p style="padding-bottom: 10px;">{{user.bio}}</p>
      <p style="font-weight: bolder;">{{user.location}} <br> {{user.company}}</p>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1 style="font-weight: bolder;">Seguidores</h1>
          <h2>{{user.followers}}</h2>
        </ion-col>
        <ion-col class="ion-text-center">
          <h1 style="font-weight: bolder;">Seguindo</h1>
          <h2>{{user.following}}</h2>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
